@font-face {
    font-family: 'Bellerose';
    src: url('/fonts/Bellerose.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.logo img {
    height: 120px;
    width: auto;
}


#navbar ul {
    display: flex;
    list-style: none;
    mix-blend-mode: difference;
}

#navbar ul li {
    margin-left: 30px;
}

#navbar ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

#navbar ul li a:hover {
    color: var(--burgundy);
}