@font-face {
    font-family: 'Bellerose';
    src: url('/fonts/Bellerose.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    background-color: #350410;
}

.footer-section {
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #350410;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6f61;
}
.client-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.client-logos img {
    max-width: 150px;
    margin: 10px;
}

.footer-logo {
    text-align: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}
